<p>counter works!</p>
<p>sum {{ count() }}</p>
<button (click)="incre()">inc</button>
<p>{{ data() }}</p>
<button (click)="updatesignal()">update</button>
<div class="container">
  <div class="row bg-success">
    <h2>computed signals update</h2>
    <button (click)="showValue()">Show Value</button>
  </div>
</div>

@if(displayForm()) {
<!-- notice the () -->
<div class="container text-center m-4">
  <button (click)="showForm()">show form</button>

  <form>
    <input type="text" placeholder="enter name" /><br />
    <input type="text" placeholder="enter name" /><br />
    <button>submit</button>
  </form>
</div>
}

<h1 *ngIf="show">HEADING</h1>

<ul>
  <li *ngFor="let x of students">
    {{ x }}
  </li>
</ul>
<!-- 
<div *ngIf="login; else elseBlock">
  <a href="">logout</a>
</div>

<ng-template #elseBlock></ng-template> -->
<div class="container">
  <h2>weather app</h2>
  <p>{{ temperature }}</p>
  <input [value]="temperature" disabled />
</div>
