<p>bankaccounts works!</p>
<h2>Account 1</h2>
<p>Number: {{ account1.accountNumber }}</p>
<p>Name: {{ account1.accountHolderName }}</p>
<p>Balance: {{ account1.accountbalance }}</p>

<h2>Account 2</h2>
<p>Number: {{ account2.accountNumber }}</p>
<p>Name: {{ account2.accountHolderName }}</p>
<p>Balance: {{ account2.accountbalance }}</p>

<input [(ngModel)]="accountNumber" placeholder="ENter account Number" /><br />
<input [(ngModel)]="accountHolderName" placeholder="ENter  accountHolderName" /><br />
<input [(ngModel)]="accountbalance" placeholder="ENter accountbalance" /><br />

<button (click)="addAccount()">Add Account</button>

<h3>List of Accounts</h3>
<div *ngFor="let account of accounts">
  <p>Account Number: {{ account.accountNumber }}</p>
  <p>Account Holder: {{ account.accountHolderName }}</p>
  <p>Balance: {{ account.accountbalance }}</p>
  <hr />
</div>

<h2>Transfer Money</h2>

<!-- Input fields for source and target account numbers and transfer amount -->
<div>
  <label for="sourceAccount">Source Account Number: </label>
  <input type="text" [(ngModel)]="sourceAccountNumber" placeholder="Enter source account number" />
</div>
<div>
  <label for="targetAccount">Target Account Number: </label>
  <input type="text" [(ngModel)]="targetAccountNumber" placeholder="Enter target account number" />
</div>
<div>
  <label for="amount">Amount to Transfer: </label>
  <input type="number" [(ngModel)]="transferAmount" placeholder="Enter amount" />
</div>

<button (click)="transferMoney()">Transfer Money</button>

<hr />
