<p>login works!</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <form>
        <label>Enter name</label>
        <input type="text" placeholder="enter name" class="form-control" />
        <label>Enter email</label>
        <input type="text" placeholder="enter email" class="form-control" />
        <label>Enter password</label>
        <input type="password" placeholder="enter password" class="form-control" />
        <button type="button" (click)="handleSubmit()">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <h2>sum</h2>
  <form>
    <input type="text" placeholder="enter account number" class="form-control" />
    <input type="text" placeholder="enteriifc code" class="form-control" />
    <button>Transfer Money</button>
  </form>
  <button (click)="sum(10, 20)">calculate</button>
</div>

<div class="container">
  <h2>Count {{ count }}</h2>
  <div>
    <button (click)="handleCount('plus')">Increment</button>
    <button (click)="handleCount('minus')">Decrement</button>
    <button (click)="handleCount('reset')">Reset</button>
  </div>
</div>

<div class="container">
  <button class="btn" name="register" (click)="handleEvent($event)">Click me</button>
  <div class="container bg-primary" (mouseenter)="handleEvent($event)">
    <p (mouseleave)="handleEvent($event)">abcd</p>
  </div>
</div>

<input
  type="text"
  placeholder="enter"
  (focus)="handleEvent($event)"
  (blur)="handleEvent($event)"
  (input)="handleEvent($event)"
/>

<div class="container">
  @for(user of users;track user){
  <h2>{{ user }}</h2>
  }

  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>account</th>
        <th>amount</th>
      </tr>
    </thead>

    <tbody>
      @for (ele of bankaccounts; track ele) {
      <tr>
        <td>{{ ele.name }}</td>
        <td>{{ ele.account }}</td>
        <td>{{ ele.amount }}</td>
        <button (click)="handleDeposit(ele)">deposit</button>
        <button (click)="handlewithdraw()">withdraw</button>
      </tr>
      }
    </tbody>
  </table>
</div>
@if (depositForm) {
<div>
  <form>
    <input type="text" placeholder="enter amount" />
    <button type="button">deposit</button>
    <button type="button" (click)="depositForm = false">cancel</button>
  </form>
</div>
}
